/* css reset */
* {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}

/* style */
body {
  background: #eee;
  /* body会将背景色自动扩展到整个网页 */
}
.globalHeader {
  margin: 15px 30px;
}
.globalHeader .searchForm {
  display: flex;
  justify-content: space-between;
}
.globalHeader .searchForm > input {
  width: 100%;
  /* 此时搜索在按钮内按列排列 */
  margin: right 30px;
  padding-left: 10px;
  height: 40px;
  /* border: none; */
  /* border:none   用border-radius时先用前面语句覆盖一下*/
  border: #ddd;
  border-radius: 4px;
}
.globalHeader .searchForm > button {
  white-space: nowrap;
  /* 解决搜索两字按列排列 */
  padding: 0px 14px;
  border: none;
  border: #ddd;
  border-radius: 4px;
  background: #8f169d;
  color: #eee;
}
.globalMain {
  margin: 15px 30px;
}
.globalMain .siteList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* 三个图标并排，wrap换行 */
}
.globalMain .siteList .site {
  width: 150px;
  height: 150px;
  margin: 20px 10px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* 用border-radius之前 要重置border 
  border:none*/
  border-radius: 10px;
  flex-wrap: wrap;
}
.globalMain .siteList > li > a {
  text-decoration: none;
}
/* `>` 此符号只能指示紧邻的孩子元素，
不能直接.siteList > a
*/

.globalMain .siteList .site .logo {
  width: 80px;
  height: 80px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 75px;
}
.globalMain .siteList .site .link {
  font-size: 14px;
  margin-top: 10px;
}

img {
  max-width: 100%;
  max-height: 100%;
}
.globalMain .siteList .addButton {
  width: 150px;
  height: 150px;
  margin: 20px 10px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}
.globalMain .siteList .addButton .icon {
  width: 80px;
  height: 80px;
}
.globalMain .siteList .addButton .link {
  font-size: 14px;
  margin-top: 0px;
}
